<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2>Quan Do</h2>
      <h4>email@gmail.com</h4>
    </div>
    <img src='https://sieupet.com/sites/default/files/pictures/images/gia-cho-shiba-inu-02.jpg' alt=''>
  </div>

  <mat-divider></mat-divider>

  <h2 matSubheader>Pages</h2>

  <a mat-list-item routerLinkActive='list-item-active' routerLink='/'>Dashboard</a>
  <a mat-list-item routerLinkActive='list-item-active' routerLink='/posts'>Posts</a>
  <a mat-list-item routerLinkActive='list-item-active' routerLink='/users'>Users</a>

  <mat-divider></mat-divider>
</mat-nav-list>
